@import "tailwindcss";

@layer base {
  body {
    background-color: #070b13;
    color: #e2e8f0;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
}

/* Custom terminal scrollbars */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #080d16;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e2c44;
  border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2b3e60;
}
